<h1>Autos#index</h1>
<%= link_to "New Auto Create", new_auto_path, class: 'button' %>
<div class="row justify-content-center">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope='col'>vehical</th>
        <th scope="col" colspan="3">Action</th>
      </tr> 
    </thead>
    <tbody> 
    <% @autos.each do |auto|%>
       <tr>      
        <td><%= auto.vehical%></td>
        <td><%= link_to 'Show', auto_path(auto.id)%></td>
        <td><%= link_to 'Edit', edit_auto_path(auto.id)%></td>
        <td><%= button_to 'Delete', auto_path(auto), method: 'delete' %></td>            
        <%end%> 
       </tr> 
    </tbody>
  </table>  
</div>  
 

